<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoom Clone</title>
    <link rel="stylesheet" href="style.css">

    <!-- The below caused the error in the tutorial by clever programmer -->
    <!-- <script src="/socket.io/socket.io.js" defer></script> -->
    <script src="/socket.io/socket.io.js"></script>

    <!-- FOr the peer.js -->
    <script src="https://unpkg.com/peerjs@1.5.2/dist/peerjs.min.js"></script>

    <script>
        // console.log("<%= roomId %>")
        const ROOM_ID = "<%= roomId %>" ; 
    </script>
</head>
<body>
   <div id="video-grid"></div>

   <div>
    <ul id="messagesArea">

    </ul>
    <input type="text" id="myMessage">
   </div>
    <script src="script.js"></script>
</body>
</html>